<div class="container">
  <div class="container__left-side">
    <div class="container__left-side__tag">
      <div class="heading">
        The World Belongs To <br />
        Those Who Read
      </div>
      <div class="desc">
        Start reading today and join the fun! <br />
        Getting started is only a few clicks away!
      </div>
      <div class="buttons">
        <div class="btn buttons__btn--learnmore">Learn More</div>
        <div class="btn buttons__btn--signup">Log in</div>
      </div>
    </div>
  </div>
  <div class="container__right-side">
    <div class="container__right-side__title">
      <div class="heading">Let's Sign Up</div>
      <div class="desc--top">
        Getting started is quick and simple, just fill out the info below!
      </div>
    </div>
    <form class="container__right-side__form">
      <input
        class="form__input--name userinput"
        type="text"
        placeholder="Full Name"
        required
      />
      <input
        class="form__input--email userinput"
        type="email"
        placeholder="Email Address"
        required
      />
      <input
        class="form__input--password userinput"
        type="password"
        placeholder="Password"
        required
      />
      <div class="container--tc">
        <input class="checkbox" type="checkbox" name="TC" id="TC" />
        <p class="desc--middle" for="">
          I agree to
          <span><a href="">Terms & Conditions</a></span>
        </p>
      </div>
    </form>
    <button class="btn--purple">Register</button>
    <div class="desc--bottom">
      Already have an account? Click
      <span><a href="">here</a></span>
      to login
    </div>
  </div>
</div>
