<div class="container">
  <div class="container__left-side">
    <div class="container__left-side__tag">
      <div class="heading"></div>
      <div class="desc"></div>
      <div class="buttons">
        <div class="buttons__btn--login"></div>
        <div class="buttons__btn--signup"></div>
      </div>
    </div>
  </div>
  <div class="container__right-side">
    <div class="container__right-side__title">
      <div class="heading"></div>
      <div class="desc"></div>
    </div>
  </div>
</div>

<!-- <p>Bring your imagination alive</p> -->
