<div class="container">
  <div class="left-side">
    <div class="image-container">
      <img src="assets/Danbrownbook.jpg" alt="" />
    </div>
  </div>
  <div class="right-side">
    <h3 class="heading">Edit Book Details</h3>
    <form class="form-container-addbook">
      <div class="title group">
        <label for="">Title<span class="asterisk">&#42;</span></label>
        <input type="text" placeholder="Title of Book" required />
      </div>
      <div class="image group">
        <label for="">Image</label>
        <input type="text" placeholder="Image url of book" />
      </div>
      <div class="author group">
        <label for="">Author<span class="asterisk">&#42;</span></label>
        <input type="text" placeholder="Author of book" required />
      </div>
      <div class="about group">
        <label for="">About<span class="asterisk">&#42;</span></label>
        <textarea
          class="aboutinput"
          name=""
          id=""
          cols="80"
          rows="10"
          placeholder="A Brief about the book"
          required
        ></textarea>
      </div>
      <div class="button">
        <button class="newbook btn">Save changes</button>
        <button class="cancel btn">Cancel changes</button>
      </div>
    </form>
  </div>
</div>
