<div class="container">
  <app-book-detail
    *ngIf="numbercheck; else infoText"
    (booklistUpdated)="containergetBooklist()"
  >
  </app-book-detail>
  <ng-template #infoText>
    <div class="welcometext">
      <div class="smallcontainer">
        <p>
          No book is selected! <br />
          Please select books from the list to continue.
        </p>
      </div>
    </div>
  </ng-template>
  <div class="right-side">
    <div
      class="book-list-container"
      *ngFor="let bookEl of booklist; let i = index"
      [class.active]="selectedIndex === i"
      (click)="OnSelected(bookEl, i)"
    >
      <div class="imageContainer">
        <img [src]="bookEl.image" alt="" />
      </div>
      <div class="heading-list">{{ bookEl.title }}</div>
    </div>
  </div>
</div>
