@import "../../assets/variables.scss";

// font-family: 'Arima', cursive;
// font-family: 'Barlow', sans-serif;
// font-family: 'Quicksand', sans-serif;
//font-family: 'Nanum Myeongjo', serif;
//font-family: 'Oswald', sans-serif;
.bold {
  font-weight: 600;
}

.container {
  background-color: $color-white;
  display: grid;
  grid-template-columns: 4fr 0.7fr;

  .welcometext {
    background-color: rgba(233, 233, 233, 0.349);
    display: flex;
    justify-content: center;

    .smallcontainer {
      margin-top: 20%;
      padding: 1.5rem 1.5rem;
      background-color: rgba(255, 0, 0, 0.13);
      height: fit-content;
      border: dotted 1px red;
      width: 45%;

      .info {
        font-family: "Barlow", sans-serif;
        font-size: 2em;
        color: rgb(145, 0, 0);
        text-align: center;
      }

      .material-symbols-outlined {
        font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 10, "opsz" 48;
      }

      p {
        font-family: "Barlow", sans-serif;
        font-size: 1.5em;
        text-align: center;
      }
    }
  }

  .right-side {
    background-color: $color-white;
    height: 120vh;
    overflow-y: scroll;
    .book-list-container {
      border-left: solid 3px $color-white;
      height: 17rem;
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      border-bottom: solid 3px rgba(241, 241, 241, 0.733);
      cursor: pointer;

      .heading-list {
        margin-top: 1em;
        text-align: center;
        text-transform: uppercase;
        font-family: "Oswald", sans-serif;
        font-size: $h6-Barlow;
        font-weight: 500;
      }

      .imageContainer {
        margin: 0 auto;
        height: 110px;
        width: 70px;
        filter: drop-shadow(6px 6px 8px grey);
      }

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        // filter: drop-shadow(6px 6px 8px grey);
      }
    }
    .active {
      border-left: solid 3px $color-secondary-dark;
      background-color: $color-grey-light-1;
    }
  }
}
